{% extends 'base.html' %}

{% block title %}Add Admin{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>管理者の追加</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="post" action="{{ url_for('add_admin') }}">
            {{ form.hidden_tag() }}
            <div class="form-group mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>

            <button type="submit" class="btn btn-dark">管理者の追加</button>
        </form>
    </div>
{% endblock %}
