{% extends 'base.html' %}

{% block title %}{{ location.location_name }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>予約ページ - {{ location.floor }} {{ location.location_name }}</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="calendar" data-location-id="{{ location.id }}"></div>
    <form method="POST" action="{{ url_for('location_page', location_name=location.location_name) }}">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="form row">
            <div class="form-group col-md-6">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control", placeholder="予約タイトルを入力してください") }}
            </div>
        </div>
        <div class="form row">
            <div class="form-group col-md-6">
                {{ form.start_date.label(class="form-label") }}
                {{ form.start_date(class="form-control", id="start_date_picker", autocomplete="off") }}
                {{ form.start_time.label(class="form-label") }}
                {{ form.start_time(class="form-control", id="start_time_picker") }}
            </div>
            <div class="form-group col-md-6">
                {{ form.end_date.label(class="form-label") }}
                {{ form.end_date(class="form-control", id="end_date_picker", autocomplete="off") }}
                {{ form.end_time.label(class="form-label") }}
                {{ form.end_time(class="form-control", id="end_time_picker") }}
            </div>
            <div class="form-group col-md-6">
                {{ form.is_all_day(class="form-check-input", id="is_all_day_checkbox") }}
                {{ form.is_all_day.label(class="form-check-label", for="is_all_day_checkbox") }}
            </div>
        </div>
        <div class="form-group mb-3">
            <input type="submit" name="submit" value="予約する" class="btn btn-dark btn-block">
        </div>
                <div class="form-group mb-3">
            <a href="{{ url_for('show_locations') }}" class="btn btn-secondary btn-block">戻る</a>
        </div>
    </form>
    <!-- 予約一覧表示 -->
    <h2>予約一覧</h2>
    {% if reservations %}
    <ul class="list-group">
            {% for reservation in reservations %}
                {% set today = current_datetime.date() %}
                {% if reservation.start.date() >= today %} {# 今日以降の予約のみ表示 #}
                    <li class="list-group-item">
                        {{ reservation.title }} -
                        {% if reservation.is_all_day %}
                            終日
                        {% else %}
                            {{ reservation.start }} から {{ reservation.end }} まで
                        {% endif %}
                        {% if can_access_reservation(reservation, current_user) %}
                            <!--<a class="btn btn-link" href="{{ url_for('edit_reservation', location_name=location.location_name, reservation_id=reservation.id) }}">変更</a>-->
                            <form method="POST" action="{{ url_for('delete_reservation', location_name=location.location_name, reservation_id=reservation.id) }}" style="display:inline;">
                                <button type="submit" class="btn btn-link" onclick="return confirm('本当に削除しますか？')">削除</button>
                            </form>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>予約はありません。</p>
    {% endif %}
</div>
{% endblock %}
