{% extends 'base.html' %}

{% block title %}教室一覧{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>教室一覧</h1>
        {% if grouped_locations %}
            {% for floor, locations in grouped_locations.items() %}
                <div class="card mb-4">
                    <div class="card-header">
                        <h2>{{ floor }}階</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for location in locations %}
                            <li class="list-group-item">
                                <a href="{{ url_for('location_page', location_name=location.location_name) }}">{{ location.location_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info" role="alert">
                No locations available.
            </div>
        {% endif %}
    </div>
{% endblock %}
