{% extends 'base.html' %}

{% block title %}ユーザー設定{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>ユーザー設定</h1>

    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        
        <label for="current_username">現在のユーザー名：</label>
        <input type="text" id="current_username" value="{{ current_user.username }}" disabled class="form-control">

        <label for="username">新しいユーザー名：</label>
        {{ form.username(class="form-control") }}

        <label for="current_password">現在のパスワード：</label>
        {{ form.current_password(class="form-control") }}

        <label for="new_password">新しいパスワード：</label>
        {{ form.new_password(class="form-control") }}

        <label for="confirm_password">新しいパスワードの確認：</label>
        {{ form.confirm_password(class="form-control") }}

        <!--<label for="icon">アイコンをアップロード：</label>
        {{ form.icon(class="form-control") }}-->

         <!--<div class="form-check">
            {{ form.dark_mode(class="form-check-input") }}
            <label class="form-check-label" for="dark_mode">ダークモード：</label>
        </div>-->

        <button type="submit" class="btn btn-dark">変更を保存</button>
    </form>
{% endblock %}
